.dots-1 {
  animation: pulse-dots-1 1.3s ease-in infinite;
}

.dots-2 {
  animation: pulse-dots-2 1.3s ease-in infinite;
}

.dots-3 {
  animation: pulse-dots-3 1.3s ease-in infinite;
}

@keyframes pulse-dots-1 {
  0%,
  70%,
  100% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
}

@keyframes pulse-dots-2 {
  0%,
  15%,
  85%,
  100% {
    opacity: 0.2;
  }
  45% {
    opacity: 1;
  }
}

@keyframes pulse-dots-3 {
  0%,
  30%,
  100% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
}
